@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*definicion colores modo claro / modo oscuro en variables*/
body.modoClaro{
    --colorFondo: rgb(220, 237, 255);
    --color:  rgb(52, 63, 62);
    --fondoMain: rgb(220, 237, 255);
    --colorHeader: rgb(148, 176, 218);
    --colorPanel: rgb(146, 167, 199);
}

body.modoOscuro{
   --colorFondo: rgb(52, 63, 62) ;
    --color: rgb(220, 237, 255);
    --fondoMain: rgb(18, 22, 22);
    --colorHeader: rgb(80, 90, 91);
    --colorPanel:rgb(52, 63, 62);
}


body{
    background-color: var(--colorFondo); /*aplicacion de variable*/
    color: var(--color);
}

/*header*/

/*panel Inicio contenedor de la imagen del meme y textos*/

.divMeme{
    background-color: var(--fondoMain);/*aplicacion de variable*/
}

/*Titulo panel inicio*/

.panelInicio{
    background-color: var(--colorHeader);
}

.tituloApp{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
}

/*Botones panel inicio*/

.headerButtonContainer{
    text-align: center;
    padding: 10px;
}

.buttonHeader{
    font-family: 'Open Sans', sans-serif;
    border: 0;
    outline: none;
    padding: 0 10px 0 10px;
    margin: 5px;
    height: 30px;
    background-color: var(--colorHeader);
    color: var(--color);
    font-size: 20px;
}

.buttonHeader:hover{
    background-color: var(--colorFondo);
    transition: 0.5s;
    border-radius: 5px;
}


/*recuadro Central con texto arriba y debajo de la imagen*/
.memeContainer{
    background-color: var(--fondoMain);  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    
}

.imgMeme{
    background-color: black;
    width: 610px;
    height: 470px;
}

/*texto arriba y abajo de la imagen*/
.textMeme{
    font-family: Impact;
    font-size: 40px;
    background-color: white;
    width: 610px;
    height: 70px;
    text-align: center;
    padding: 17px 0 0 0;
    color: rgb(52, 63, 62);
}

/*botón descarga meme*/
.downloadMeme{
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(97, 201, 168);
    color: white;
    border: 0 ;
    border-radius: 5px;
    width: 160px;
    height: 50px;
    margin: 20px;

}

/*Aside*/
.panelControl{
    background-color: var(--fondoMain);/*aplicacion de variable*/
    position: fixed;
    top:0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    padding: 40px 10px  010px ;
}

.tituloSection{
    text-align: center;
}

/* h3 de cada seccion*/
.tituloPropiedades{
    font-size: 16px;
    padding: 10px
}

/* estilos de los recuadros y botones de los paneles*/
.input{
    background-color: var(--fondoMain);
    border-radius: 5px;
    border: none;
    height: 30px;
    padding: 8px;
    color: var (var(--color));
}

/* ancho caja para cambiar tipografias*/
.familiaFuente{
    width: 252px;
}

/*botones de alineacion y tamaño de fuente */
.tamanioAlineacion{
    padding: 5px 0 0 0 ;
    width: 252px;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
     
}
/*div que contiene botones de alineacion y tamaño fuente*/
.tamanio{
    width: 100%;
}

#tamanioFuente{
  width: 100%;  
}

.buttonAlign{
    width: 50%;
}

/*Ancho de los botones d ealieacion*/
.buttonAncho{
    width: 30%;
}


/*icono cruz para cerrar paneles aside*/
.cerrar{
    position: fixed;
    top:15px;
    right: 40px;
    z-index: 1;
    background-color: var(--fondoMain);
    border: 0;
    font-size: 24px;
    color: var(--color);
}

/*color de tipografia y fondo*/

.colorFondoyTipografia{
    width: 50%;
    font-size: 14px;
}

.check{
    padding-top: 20px;
    font-size: 14px;
}

/*input color estilo circular*/
input[type='color']{
    width: 18px;
    height: 18px;
    min-width: 18px;
    border-radius: 50%;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
}

/*clases contorno texto*/
.sinContorno{
    text-shadow: none;
}
.contornoClaro{
    text-shadow: rgb(255, 255, 255) 2px 2px, rgb(255, 255, 255) -2px 2px, rgb(255, 255, 255) 2px -2px, rgb(255, 255, 255) -2px -2px;
}

.contornoOscuro{
    text-shadow: rgb(0 0 0) 2px 2px, rgb(0 0 0) -2px 2px, rgb(0 0 0) 2px -2px, rgb(0 0 0) -2px -2px;
}


/*clase para ocultar los paneles o elementos necesarios*/
.ocultar{
    display: none;
} 

/*Versión escritorio*/
@media (min-width: 1000px) {

    .panelControl {
        width: 280px;
        height: 100%;
        z-index: 10;
        background-color: var(--colorPanel);
        box-shadow: -10px 10px 100px 5px rgb(0 0 0 / 30%);
        padding: 20px  20px 0 10px;
    }

    .panelControl.ocultar{
        display: block;
    }
    .cerrar{
        background-color: var(--colorPanel);
    }
}

